{% extends 'base.html' %}
{% load static %}
{% block nav-style %}mkt-nav{% endblock nav-style %}

{% block content %}
    <div id="content-container" class="container p-none">
        <div class="side-p">
            <form id="user-reg-form" action="." method="post">
                {% csrf_token %}
                {# Username & Password Section #}
                <h3>Signup for weekly newsletters!</h3>
                <h5 class="sn-sh">Enter Name and Email</h5>
                <table class="table">
                    <tbody>
                        <tr>
                            <th>{{ form.name.label }}</th>
                            <th>{{ form.email.label }}</th>
                        </tr>
                        <tr>
                            <td>{{ form.name }}</td>
                            <td>{{ form.email }}</td>
                        </tr>
                        <tr>
                            <td>{{ form.name.errors }}</td>
                            <td>{{ form.email.errors }}</td>
                        </tr>
                    </tbody>
                </table>
                {# Billing Address Section #}
                <input class="btn btn-primary" type="submit" value="submit">
            </form>
            {# Credit Card Section #}
        </div>
    </div>
{% endblock content %}
